nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 10px;
}
nav > ul > li> a {
text-decoration: none;

}
nav>ul>li:hover {
    background-color: lightgray;
}
nav li:hover .drop {
    display: block;
}
nav li .drop {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    padding-left:10px ;
}